/* Font */

@font-face {
  font-family: Barlow;
  font-weight: 200;
  src: url(../barlow/Barlow-ExtraLight.ttf);
  font-display: swap;
}

@font-face {
  font-family: Barlow;
  font-weight: 300;
  src: url(../barlow/Barlow-Light.ttf);
  font-display: swap;
}

@font-face {
  font-family: Barlow;
  font-weight: 400;
  src: url(../barlow/Barlow-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: Barlow;
  font-weight: 500;
  src: url(../barlow/Barlow-Medium.ttf);
  font-display: swap;
}

@font-face {
  font-family: Barlow;
  font-weight: 600;
  src: url(../barlow/Barlow-SemiBold.ttf);
  font-display: swap;
}

@font-face {
  font-family: Barlow;
  font-weight: 700;
  src: url(../barlow/Barlow-Bold.ttf);
  font-display: swap;
}

/* Site-wide */

* {
  box-sizing: border-box;
}

body {
  font-family: Barlow, sans-serif;
  font-weight: 400;
  border: 1px solid black;
}

h1 {
  font-size: 35px;
  font-weight: 300;
  margin-top: -80px;
  margin-bottom: 1em;
  padding-left: 450px;
  text-align: left;
}

.button-primary {
  background: yellow;
  border: 3px solid black;
  padding: 10px 36px;
  font-size: 25px;
  margin: 10px;
  font-weight: 600;
  font-family: inherit;
}

.button-tertiary {
  --webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  text-decoration: underline;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

/* Navigation */

.site-header {
  display: flex;
}

.site-logo {
  width: 400px;
  max-width: 80%;
  padding: 24px;
  margin-top: 20px;
  margin-bottom: 5px;
  box-sizing: content-box;
}

.site-nav {
  height: 132px;
  border-bottom: 5px solid black;
  padding: 12px;
  padding-right: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 80px;
  flex: 1;
}

.site-nav a {
  display: inline-block;
  padding: 2px;
  font-size: 26px;
  color: inherit;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.site-nav a.active {
  font-weight: bold;
  background-color: yellow;
}

/* Home page */

.products-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px 44px;
  margin-top: 80px;
  margin-bottom: 20px;
}

.product-link {
  width: 300px;
  padding: 10px;
  font-size: 26px;
}

.product-link:hover {
  background-color: yellow;
}

.product-link a {
  color: inherit;
  text-decoration: none;
}

.product-link img {
  width: 100%;
  border: 3px solid black;
}

.product-link h2 {
  margin-top: 0.2em;
  margin-bottom: 0;
  font-weight: normal;
  text-decoration: underline;
  font-size: inherit;
}

.product-link:hover h2 {
  font-weight: 600;
}

/* Detail page */

.product {
  display: flex;
}

.product-detail-image {
  display: block;
  width: 100%;
  max-width: 632px;
  border: 3px solid black;
  margin: 50px auto;
  margin-bottom: 26px;
}

.product-detail-form {
  width: 100%;
  max-width: 326px;
  margin: 20px auto;
  font-size: 20px;
}

.product-detail-form p {
  font-size: 26px;
  margin-bottom: 64px;
}

.product-detail-form label {
  display: block;
  margin: 36px 0;
  font-size: 25px;
}

.product-detail-form select {
  display: block;
  width: 100%;
  margin: 10px 0;
  height: 50px;
  border: 3px solid black;
  border-radius: 0;
  padding: 0 20px;
  padding-right: 50px;
  font-size: 24px;
  font-family: inherit;
  background-image:
    url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCA0MCAyMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTQwIDAuODI2MDVINy42MjkzOWUtMDZMMjAgMjAuODI2TDQwIDAuODI2MDVaIiBmaWxsPSJibGFjayIvPgo8L3N2Zz4K);
  background-position: right 10px center;
  background-size: 32px;
  background-repeat: no-repeat;

  -webkit-appearance: none;
  appearance: none;
}

.product-detail-form-footer {
  margin: 130px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.product-detail-price {
  font-size: 22px;
  font-weight: bold;
}

/* Cart page */

.cart {
  max-width: 750px;
  margin-left: auto;
  margin-top: 100px;
}

.cart-item {
  display: flex;
  margin: 24px 0;
  font-size: 26px;
}

.cart-item img {
  display: block;
  margin: 0 auto;
  margin-bottom: -8px;
  width: 120px;
  border: 3px solid black;
}

.cart-item h2 {
  margin-top: 0.4em;
  font-size: inherit;
  font-weight: inherit;
  margin-bottom: 0;
}

.cart-item-contents {
  flex: 1;
  padding: 0 40px;
}

.cart-item-price,
.cart-total {
  font-size: 30px;
  margin: 20px 0;
  align-self: center;
  padding-right: 60px;
}

.cart-total {
  display: flex;
  padding-block: 20px;
  margin: 0 auto;
  padding-left: 160px;
  border-top: 5px solid black;
  justify-content: space-between;
}

.cart-submit-form {
  padding-top: 8px;
  padding-bottom: 16px;
  padding-right: 50px;
  text-align: right;
}
